
aist_plusplus_final/
data/
experiment/
datasets/


# -----------------------------
# 模型文件
# -----------------------------
*.pt
*.pth
*.ckpt
*.bin

# -----------------------------
# 特征文件）
# -----------------------------
*.npy
*.npz
*.json
*.pkl

# -----------------------------
# 音频 / 视频文件
# -----------------------------
*.wav
*.mp3
*.flac
*.mp4
*.avi
*.mov

# -----------------------------
# Python 缓存
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# 日志、训练输出
# -----------------------------
runs/
checkpoints/
logs/
tensorboard/
wandb/

# -----------------------------
# Jupyter 临时文件
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# 系统文件
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE 配置
# -----------------------------
.vscode/
.idea/
